<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>
  <div class="frm-total-reset">
    <h1>Forgot Password?</h1>
    <hr>
    <form action="" method='post'>
      {% csrf_token %}

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <center > <h4 style="color:firebrick";>{{message}}</center>
            {% else %}
              <center > <h4 style="color:blue";>{{message}}</center>
          
          {% endif %}
        
        {% endfor %}

     {% endif %}

      <div>
        <input type="name" name="username" id="Phone Number" placeholder="username">
      </div>


      <div>
        <input type="email" name="email" id="email" placeholder="Email">
      </div>

      

      <div>
        <input type="submit" name="submit" class="submit-reset" value="submit">
      </div>

      
      <span class="question-reset">
        <a href="{% url "register" %}">Not a member? <span>SIGNUP</span> </a>
        <a href="{% url "login" %}">Already a member? <span>LOGIN</span> </a>
      </span>
    </form>
  </div>
  
</body>
</html>