<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body>
    <section class="general">

        
        <div class="godabeg">
           
        <div class="write-main">
            <h2 style="padding: 0% 10%; text-transform: capitalize;">your cart (7)</h2>
        <div class="writings">
            <h4>classic tramibe</h4>
            <pre>1x total: 23.50$</pre>
            <hr> 
        </div>
        <div class="writings">
            <h4>classic tramibe</h4>
            <pre>1x total: 23.50$</pre>
            <hr> 
        </div>
        <div class="writings">
            <h4>classic tramibe</h4>
           <pre>1x total: 23.50$</pre>
            <hr> 
        </div>
        <div>
             <pre> order total 460$</pre> 
             <h3 class="special">confirm order</h3>
        </div>
        <div class="log">
            <a href="{% url 'logout'%}">logout </a>
        </div>

        

        </div>
        
        </div>
    <h1 style="padding: 15px 10px; text-transform: capitalize;">desert</h1>
    <div class="section2">

        <div class="cart">
             <img src="{% static 'images/image-baklava-desktop.jpg' %}" alt="">

             <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries  <br style="color: red;">6.50$ </h4>
             
            
             <div class="button-con"><button class="add-to-car4t">Add</button></div>
             
        </div>
        <div class="cart">
             <img src="{% static 'images/image-macaron-desktop.jpg' %}" alt="">
             <p style="opacity: 0.6; ">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add </button></div>
        </div>
        <div class="cart">
             <img src="{% static "images/image-waffle-desktop.jpg" %}" alt="">
             <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add</button></div>
        </div>
        <div class="cart">
            <img src="{% static "images/image-cake-desktop.jpg" %}" alt="">
            <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add </button></div>
       </div>
       <div class="cart">
        <img src="{% static "images/image-meringue-desktop.jpg" %}" alt="">
        <p style="opacity: 0.6;">creme bute</p>
        <h4>waffle with berries <br>6.50$ </h4>
        <div class="button-con"><button class="add-to-car4t">Add </button></div>
   </div>
   <div class="cart">
    <img src="{% static "images/image-waffle-desktop.jpg" %}" alt="">
    <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add </button></div>
</div>
<div class="cart">
    <img src="{% static "/images/image-tiramisu-desktop.jpg" %}" alt="">
    <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add </button></div>
</div>
<div class="cart">
    <img src="{% static "images/image-panna-cotta-desktop.jpg" %}" alt="">
    <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add </button>
                
            </div>
</div>
<div class="cart">
    <img src="{% static "images/image-meringue-desktop.jpg" %}" alt="">
    <p style="opacity: 0.6;">creme bute</p>
             <h4>waffle with berries <br>6.50$ </h4>
             <div class="button-con"><button class="add-to-car4t">Add </button>
            
            </div>
</div>
        
        

    </div>
    </section>

</body>
</html>