
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href=" {% static '/css/style.css' %}">

</head>
<body>
  <div class="frm-total-reset">
    <h1>password sent </h1>
    <hr>
    <form action="" method="post">
      {% csrf_token %}

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <center > <h4 style="color:firebrick";>{{message}}</center>
            {% else %}
              <center > <h4 style="color:blue";>{{message}}</center>
          
          {% endif %}
        
        {% endfor %}

     {% endif %}

                <center>
                  
        <div>
        <h3>your password has been sent </h3>
        <h4>please note it expires in 10 mins</h4>
        </div>
        {% comment %} <span class="question-reset">
        <a href="{% url "reset-password" reset-password.reset_id%}">click here to reset </a>
      </span> {% endcomment %}

                </center>
      




     

      
      <span class="question-reset">
  
      </span>
    </form>
  </div>
  
</body>
</html>