<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
  <div class="frm-total-reset">
    <h1>Reset Password</h1>
    <hr>

    <form action="" method="post">
      {% csrf_token %}

      {% if messages %}
        {% for message in messages %}
          <center>
            <h4 style="color:{% if message.tags == 'error' %}firebrick{% else %}blue{% endif %};">
              {{ message }}
            </h4>
          </center>
        {% endfor %}
      {% endif %}

      <!-- Hidden user id -->
      <input type="hidden" name="reset_id" value="{{ reset_id }}">

      <div>
        <input type="password" name="new_password" placeholder="New Password" required>
      </div>

      <div>
        <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
      </div>

      <div>
        <input type="submit" class="submit-reset" value="Reset">
      </div>

      <span class="question-reset">
        <a href="{% url 'register' %}">Not a member? Signup</a>
        <a href="{% url 'login' %}">Already a member? Login</a>
      </span>
    </form>
  </div>
</body>
</html>
